
.form {
    
    &__group:not(:last-child) {
        
    }
    
    &__input {
        transition: all 300ms;
        
        &:focus {
            
        }
        
        &:focus:invalid {
               
        }
        
        &::-webkit-input-placeholder {
                
        }
        
         
    } // &__input
    
    &__label {
        transition: all 300ms;
    }
    
    &__input:placeholder-shown + label {
        
    }
    
    &__radio-group {
        
    }
    
    &__radio-input {
        
    }
    
    &__radio-label {
        
    }
    
    &__radio-button {
        
        
        
        &::after {
            content: "";
            
        }
    }
  
    &__radio-input:checked ~ &__radio-label  &__radio-button::after {
       
    }
    
} // .form




