*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
	text-decoration: none;
	list-style: none;
}

html {
    // This defines what 1rem is
    font-size: 62.5%;
    
    @include breakpoint(max-width $tab-land) {
        font-size: 56.25%; // 1rem === 9px | 9/16
    }
    @include breakpoint(max-width $tab-port) {
        font-size: 50%; // 1rem === 8px | 8/16 = 50%;
    }
    
    @include breakpoint(min-width $big-desktop) {
        font-size: 75%; // 1rem === 12px | 12/16
    }
    
}

body {
    box-sizing: border-box;
    padding: 3rem;
    
    @include breakpoint(max-width $tab-port) {
        padding: 0;    
    }
}